<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head th:replace="header :: head">
</head>
<body>
    <div th:replace="header :: header"></div>
    <main>
        <div th:if="${group}" class="container flexbox-container">
            <aside>
                <h3>Group details</h3>
                <h5>Group id</h5>
                <p th:text="${group.id}"/>
                <h5>Group name</h5>
                <p th:text="${group.name}"/>
                <h5>Group description</h5>
                <p th:text="${group.description}"/>
                <p th:text="${group.adminUser.username}"/>
            </aside>
            
            <section>
                <table class="table table-striped table-dark" th:if="${ not#lists.isEmpty(users)}">
                    <tr>
                        <th>Id</th>
                        <th>Username</th>
                        <th>Activated</th>
                    </tr>
                    <tr th:each="user : ${users}">
                        <td th:text="${user.id}"></td>
                        <td th:text="${user.username}"></td>
                        <td th:text="${user.enable}"></td>
                    </tr>            
                </table>
                <table class="table table-striped table-dark" th:if="${ not#lists.isEmpty(numbereWithError)}">
                    <tr>
                        <th>Id</th>
                        <th>Username</th>
                    </tr>
                    <tr th:each="user : ${numbereWithError}">
                        <td th:text="${user}"></td>
                        <td> The user with this number already exist</td>
                    </tr>            
                </table>

                <form th:action="@{/admin/My-group}" method="post">
                    <div class="form-group">
                        <label for="exampleFormControlTextarea2">Enter student numbers if you want to add some</label>
                        <textarea class="form-control" id="exampleFormControlTextarea2" rows="3" type="text" name="student_numbers"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Add students</button>
    
                </form>

            </section>
        </div>



        <div th:if="${subject}" class="container flexbox-container">
            <aside>
                <h3>subject details</h3>
                <h5>subject id</h5>
                <p th:text="${subject.id}"/>
                <h5>subject name</h5>
                <p th:text="${subject.name}"/>
            </aside>
            
            <section>
                <table class="table table-striped table-dark" th:if="${ not#lists.isEmpty(exams)}">
                    <tr>
                        <th>Id</th>
                        <th>Username</th>
                        <th>Activated</th>
                    </tr>
                    <tr th:each="exam : ${exams}">
                        <td th:text="${exam.id}"></td>
                        <td th:text="${exam.name}"></td>
                        <td th:text="${exam.coefficient}"></td>
                    </tr>            
                </table>
            </section>
        </div>

    </main>
</body>
</html>